{% extends 'base.html.twig' %}

{% block title %}Composant index{% endblock %}

{% block body %}
    <h1>Composant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for composant in composants %}
            <tr>
                <td>{{ composant.id }}</td>
                <td>{{ composant.label }}</td>
                <td>{{ composant.description }}</td>
                <td>
                    <a href="{{ path('app_les_composant_show', {'id': composant.id}) }}">show</a>
                    <a href="{{ path('app_les_composant_edit', {'id': composant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_les_composant_new') }}">Create new</a>
{% endblock %}
